<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="the.muslim.show.indonesia" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    version="1.0.0">
    <name>The Muslim Show Indonesia</name>
    <description>
        The Muslim Show Indonesia kini hadir di ponsel Android Anda.
    </description>
    <author email="radiegtya@gmail.com" href="https://www.facebook.com/muslimshowindonesiamobile">
        The Muslim Show Indonesia on Mobile
    </author>
  
    <platform name="android">
        <icon src="icons/android/mdpi.png" density="mdpi" />
        <icon src="icons/android/hdpi.png" density="hdpi" />
    </platform>
    
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="splash/android/hdpi_landscape.png" density="land-hdpi"/>
        <splash src="splash/android/mdpi_landscape.png" density="land-mdpi"/>

        <splash src="splash/android/hdpi_portrait.png" density="port-hdpi"/>
        <splash src="splash/android/mdpi_portrait.png" density="port-mdpi"/>
    </platform>
    
    <preference name="SplashScreenDelay" value="10000" />
  
    <gap:plugin name="org.apache.cordova.splashscreen" />  
    <gap:plugin name="nl.x-services.plugins.toast" />  
</widget>